*{
    margin: 0px;
    padding: 0px;
}

/* added new font */

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared class */

.primary-color{
    color:rgba(78, 71, 255, 1);
}

.primary-color-bg{
    background-color:rgba(78, 71, 255, 1)
}

.color-FFFFFF{
    color:#FFFFFF;
}

.color-252432{
    color: #252432;
}

.btn-primary{
    background-color:rgba(78, 71, 255, 1);
    color: #FFFFFF;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    background-image: linear-gradient(to right, #61f4de, #6e78ff); 
    font-weight: bold;
    transform:scale(1.08); 
}

.text-center{
    text-align: center;
}

body{
    background-color: #F5F8FF;
}

/* header section styles */

header{
    height: 720px;
    width: 100%;
    background-image: linear-gradient(rgba(78, 71, 255, 0.01),rgba(78, 71, 255, 0.01)),url(../Assets/Hero-bg.png);
    background-size: cover;
}

/* navbar styles */

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

nav p{
    font-size: 34px;
    font-weight: 900;
}

nav p:hover{
    background: linear-gradient(to right, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

nav a{
    text-decoration: none;
}

.banner{
    margin: 0px 150px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    width: 905px;
    height: 237px;
    text-align: center;
}

.banner-content h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

/* action section design */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 150px;
    height: 330px;
    padding: 0px 100px;
}
.action-content{
    width: 520px;
}
.action-content h2{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}

.action-content p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}

.action img{
    border-radius: 48px;
}

/* productive user design */

.productive_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 116px 150px;
    height: 306px;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
}

.productive_user_count{
    display: flex;
    justify-content: space-between;
    width: 856px;
    padding: 0px 185px;
}

.productive_user h2{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.count{
    width: 180px;
    height: 121px;
    text-align: center;
}

.number{
    color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 80px;
}

.title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

/* review section design */
.review{
    height: 342px;
    margin: 137px 150px;
}

.review h2{
    font-size: 42px;
    margin-bottom: 50px;
}

.review-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F5F8FF;
}

.card{
    height: 194px;
    width: 350px;
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
}

.review-title{
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

.review-description{
    font-size: 16px;
    margin-bottom: 24px;
}

.reviewer-identity{
    display: flex;
}

.reviewer-identity img{
    border-radius: 50%;
}

.information{
    margin-top: 4px;
    margin-left: 10px;
}

.name{
    opacity: 0.8;
}
.date{
    opacity: 0.5;
}

/* extra_work section design */

.extra_work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 137px 150px;
    margin-bottom: 97px;
    height: 695px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

.extra_work h1{
    font-size: 50px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

.extra_work p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    margin-bottom: 20px;
}

.extra_work button{
    margin-bottom: 10px;
}

.extra_work img{
    border-radius: 48px;
}

/* newsletter section design */
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    margin-bottom: 14px;
    height: 632px;
}

.newsletter p{
    color: rgba(0, 0, 0, 1);
    font-size: 97px;
    font-weight: bold;
    width: 528px;
}

form input[type="email"], form input[type="text"],  form textarea{
    width: 497px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
    border-style: none;
    padding: 20px 0px;
    padding-left: 32px;
    font-size: 20px;
}

form button{
    width: 530px;
}

/* footer section design */
footer{
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
}

.logo{
    font-size: 100px;
    font-weight: bold;
}

.logo:hover{
    background: linear-gradient(to right, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.advertise_description{
    font-size: 16px;
    color: rgba(137, 135, 161, 1);
    width: 530px;
    margin-bottom: 20px;
}

footer div{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

footer div a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}