*{
    margin: 0px;
    padding: 0px;
}

/* added new font */

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-color{
    color:rgba(78, 71, 255, 1)
}

.primary-color-bg{
    background-color:rgba(78, 71, 255, 1)
}

.color-FFFFFF{
    color:#FFFFFF;
}

.color-252432{
    color: #252432;
}

.btn-primary{
    background-color:rgba(78, 71, 255, 1);
    color: #FFFFFF;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.text-center{
    text-align: center;
}

/* header section styles */

header{
    height: 720px;
    width: 100%;
    background-image: linear-gradient(rgba(78, 71, 255, 0.01),rgba(78, 71, 255, 0.01)),url(../Assets/Hero-bg.png);
    background-size: cover;
}

/* navbar styles */

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

nav h1{
    font-size: 34px;
}

nav a{
    text-decoration: none;
}

.banner{
    margin: 0px 150px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    width: 905px;
    height: 237px;
    text-align: center;
}

.banner-content h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

/* action section design */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 150px;
    height: 330px;
    padding: 0px 10px;
}
.action-content{
    width: 520px;
}
.action-content h2{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}

.action-content p{
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}

.action img{
    border-radius: 48px;
}